@inherits LayoutComponentBase

<PageTitle>MonkeyFinder</PageTitle>

<div style="padding: 20px;">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
