<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/MonkeyFinder.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/MonkeyFinder.Shared/app.css" />
    <link id="light-mode" rel="stylesheet" href="app.css" />
    <link id="dark-mode" rel="stylesheet" href="_content/MonkeyFinder.Shared/darkmode.css" disabled/>
    <link rel="stylesheet" href="MonkeyFinder.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/MonkeyFinder.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/connectivity.js"></script>
    <script src="js/geolocation.js"></script>
    <script src="js/googlemap.js"></script>
    <script src="_content/MonkeyFinder.Shared/js/theme.js"></script>
</body>

</html>
