@page "/options"
@inject IConnectivityService ConnectivityService
@inject IJSRuntime JSRuntime

<h3>Options</h3>

<button class="button-yellow" @onclick="CheckConnectivity">Check Connectivity</button>
<button class="button-yellow" @onclick="ChangeTheme">Change Theme</button>


@if (ConnectivityInfo != null)
{
    <p>Connected: @(ConnectivityInfo.IsConnected ? "Yes" : "No")</p>
    <p>Connection Type: @ConnectivityInfo.ConnectionType</p>
    <p>Platform: @ConnectivityInfo.Platform</p>
    <p>Available Profiles: @string.Join(", ", ConnectivityInfo.AvailableConnectionProfiles)</p>
}

@code {
    private ConnectivityInfo? ConnectivityInfo { get; set; }

    private async Task CheckConnectivity()
    {
        ConnectivityInfo = await ConnectivityService.GetConnectivityInfoAsync();
        Console.WriteLine($"Connected: {ConnectivityInfo.IsConnected}, Type: {ConnectivityInfo.AvailableConnectionProfiles.FirstOrDefault()}, Platform: {ConnectivityInfo.Platform}");
    }

    private async Task ChangeTheme()
    {
        await JSRuntime.InvokeVoidAsync("setTheme", "dark");
    }
}